{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-wrap justify-content-center align-items-center">
  {% for i in categories %}
  <div class="card m-2" style="width: 18rem;">
      <img src="{{i.strCategoryThumb}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="pt-2">{{i.idCategory}}</h5>
        <h5 class="card-title">{{i.strCategory}}</h5>
        <p class="card-text">{{i.strCategoryDescription | truncatewords:20}}</p>
      </div>
  </div>
  {% endfor %}
</div>
 
{% endblock %}
