{% extends 'base.html' %}

{% block content %}
<div class="pagetext">
    <div class="bigtext container text-secondary pt-3 pb-3">
        <h1>Why you need to add a convincing “About us” page to your restaurant website</h1>
    </div>
    <div class="peratext container m-5">

        <p>In a digital age, when everyone gets their information online, if you don’t have a restaurant website, you practically don’t exist. How can people find your business?

        Sure, you may get some visits from people who happen to walk by your storefront, but you won’t get enough clients to make a steady profit. You need to create a digital presence, so people can find you when they search for keywords related to your business, such as “Chinese food near me” or “Italian food in Vancouver.”
            
        Therefore, you should focus on getting an optimized website that will increase your online presence and attract more clients. No need to start learning coding, design, or copywriting. With GloriaFood, you can get a sales-optimized website in a matter of minutes.
            
        After creating an account, filling in the relevant information, and adding an attractive menu, you can request a customized website with keyword-rich texts and mouth-watering images. What's more, the website is not only intuitive but already SEO-optimized.</p>

    </div>
    <div class=" container pb-4">
        <h4>Help your SEO efforts</h4>
        <p>A restaurant website's end goal is to get you more clients. But, to do so, it must successfully pass the Google filter. Therefore, SEO should always be on your mind because, if done right, it will help you rank higher.

        Adding an “About us” section gives you the opportunity to insert more keywords naturally. Here are the main ones you should place through your text:</p>
        <ul>
            <li>Restaurant location</li>
            <li>Restaurant cuisine</li>
            <li>Popular types of foods you serve</li>
        </ul>

    </div>
</div>
{% endblock %}

 